* {
    font-family: 'Roboto', sans-serif!important;
}
body {
    margin: 0%
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-inline: 200px;
}
header h2 {
    color: #f9faf8;
    font-size: 24px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
 .hero-main {
    display: flex;
    background-color: #1f2937;
    padding-inline: 200px;
    padding-bottom: 50px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
 }
 img {
    margin-top: 50px;
    margin-left: 5px;
    width: 380px;
    border-radius: 10px;
  }
 .hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
 }
 .hero-text p {
    font-size: 18px;
    color:#e5e7eb;
 }
 .sign-btn {
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  main {
    display: flex;
    padding-inline: 200px;
    background-color: white;
  }
 .container img {
    border-radius: 10px;
    border: #3882f6 solid 3px;
    width: 180px;
    border-color: #3882f6;
    justify-content: space-between;
 }
 h5 {
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    padding-bottom: 10px;
 }
 .img-list {
    display: flex;
    list-style: none;
 }
 .img-list p {
    text-align: center;
 }
 .quote {
    padding: 10px;
    margin: 0%;
    background-color: #e5e7eb;
 }
 blockquote {
    text-align: justify;
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    padding: 200px;
    padding-bottom: 0%;
    padding-top: 10px;
 }
 figcaption {
    text-align: right;
    padding-right: 200px;
    padding-bottom: 30px;
 }
 footer {
   background-color: #1f2937;
   padding: 20px;
   text-align: center;
 }
 .copyright {
   font-size: 18px;
   color: #e5e7eb;
 }